#calmaster #vr-nav {
	padding: 0 0 3px;
	margin: 4px 0 0;
}

#vr-nav #mainnav {
	height: 25px;
}

/*forward and back buttons*/
#vr-nav .navbutton {
	margin-top: 2px;
}

/*general nav buttons*/
#vr-nav .goog-imageless-button, 
#vr-nav .navbuttonouter {
	height: 22px;
	line-height: 22px;
}

/*settings gear*/
#vr-nav #mg-settings .goog-imageless-button-outer-box {
	top: 3px;
}
