$barsections: 'gb_jf'; //#onegoogbar > div > div:first-child

#onegoogbar {
    .#{$barsections} {
        height: 30px;
        > .gb_R {
            height: 30px;
            line-height: 28px;
        }
    }
    /*profile avatar*/
    .gb_8a {
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        margin: 5px;
    }
    
    /*one of search bar wrappers*/
    #gbq2 {
        padding-top: 0;
    }
    /*search bar*/
    .gbqfqw {
        height: 24px;
        margin-top: 3px;
    }
    /*search bar caret*/
    .asb-i {
        margin: 7px 0;
    }
    /*search button*/
    #gbqfb {
        height: 24px;
        margin-top: 3px;
    }
    /*search button glyph*/
    .gbqfi {
        height: 24px;
        width: 24px;
        margin-top: -4px;
        margin-left: -4px;
    }
    .gb_3b .gb_5b {
        height: 27px;
    }
}
